<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="/libs/semantic/validation.js"></script>
    <style> body { padding-top:5%; } </style>
    <script>
    $( document ).ready(function() {
        $('.popz')
          .popup({
          on    : 'click',
          inline   : true,
          position : 'top left'
        }),
        $('.team').click(function(){
          $('.p').toggle();
        });
    });
    </script>
</head>
<body>
	<div class="ui fixed borderless stackable menu">
    <div class="ui red container">
      <a href="/" class="header item"><img src="/images/absolute.png" alt="HTML5 Icon"></a>
      <a href="/profile" class="item">Profile</a>
      <a href="/showSales" class="item">Sales</a>
      <a href="/Inventory" class="item">Inventory</a>
      <a href="/updateInventory" class="item">Add End Day</a>
      <a href="/updateInfo" class="right aligned item">Update Account Information</a>
      <a href="/logout" class="right aligned item">Logout</a>
    </div>
  </div>
  <div class="ui centered grid">
  <table class="ui basic compact collapsed celled table">
  <thead class="full-width">
    <tr class="center aligned">
      <th>
          <form action="/inventory" method="get">
          <div class="ui mini right action compact input">         
          <input type="date" name="invDate" value="<%=date%>">
          <button class="ui tiny red icon button" type="submit"><i class="circular search link icon"></i></button>
          </div>
          </form>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            LB
            <div class="sub header">Laurelle Bag</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            MG
            <div class="sub header">Momentum Gold</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            DP
            <div class="sub header">Desire Purple</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            CG
            <div class="sub header">City Girl</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            IO
            <div class="sub header">If Only</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            SY
            <div class="sub header">Sports Yellow</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            RO
            <div class="sub header">Royal</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            TB
            <div class="sub header">Thomas Black</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            EDT
            <div class="sub header">Energize</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Cash Value<br>
            <i class="money icon"></i>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Nets Value<br>
            <i class="credit card icon"></i>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Total Value<br>
            <i class="money icon"></i>
          </div>
          </h4>
      </th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="center aligned warning">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Opening Balance
          </div>
        </h4>
      </td>
      <td>
      	<%=leftStocks.LB%>
      </td>
      <td >
        <%=leftStocks.MG%>
      </td>
      <td>
        <%=leftStocks.DP%>
      </td>
      <td>
        <%=leftStocks.CG%>
      </td>
      <td>
        <%=leftStocks.IO%>
      </td>
      <td>
        <%=leftStocks.SY%>
      </td>
      <td>
        <%=leftStocks.RO%>
      </td>
      <td>
        <%=leftStocks.TB%>
      </td>
      <td>
        <%=leftStocks.EDT%>
      </td>
      
      <td></td><td></td><td></td><th></th>
    </tr>
    <% broughtOut.forEach(function(broughtOut) { %>
    <tr class="center aligned">
      <td>    
        <h4 class="ui right aligned header">
          <div class="content">
            Brought Out
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == broughtOut.ID) {%> 
            	<div class="sub header"><%=accounts.firstName%></div>
            <% }; });%>
          </div>
        </h4>
      </td>
      <td> <%=broughtOut.LB%><%outLB +=broughtOut.LB%></td>
      <td> <%=broughtOut.MG%><%outMG +=broughtOut.MG%></td>
      <td> <%=broughtOut.DP%><%outDP +=broughtOut.DP%></td>
      <td> <%=broughtOut.CG%><%outCG +=broughtOut.CG%></td>
      <td> <%=broughtOut.IO%><%outIO +=broughtOut.IO%></td>
      <td> <%=broughtOut.SY%><%outSY +=broughtOut.SY%></td>
      <td> <%=broughtOut.RO%><%outRO +=broughtOut.RO%></td>
      <td> <%=broughtOut.TB%><%outTB +=broughtOut.TB%></td>
      <td> <%=broughtOut.EDT%><%outEDT +=broughtOut.EDT%></td>
      <td></td><td></td>
      <td><form method = "post" class = "form" action = "/deleteStocks"><button class="ui tiny red submit button" name="deleteStocks" value="<%=broughtOut._id%>" type="submit">DELETE</button></form>
      </td>  
      <td></td>
    </tr>
    <% }); %>
    <tr class="center aligned positive">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Closing
            <div class="sub header"><%=broughtOut.ID%></div>
          </div>
        </h4>
      </td>
      <td> <%=leftStocks.LB-outLB%></td>
      <td> <%=leftStocks.MG-outMG%></td>
      <td> <%=leftStocks.DP-outDP%></td>
      <td> <%=leftStocks.CG-outCG%></td>
      <td> <%=leftStocks.IO-outIO%></td>
      <td> <%=leftStocks.SY-outSY%></td>
      <td> <%=leftStocks.RO-outRO%></td>
      <td> <%=leftStocks.TB-outTB%></td>
      <td> <%=leftStocks.EDT-outEDT%></td>  
      <td></td>
      <td></td><td></td><td></td>
    </tr>
    <% broughtOut.forEach(function(broughtOut) { %>
      <%eventLB=0%>
      <%eventMG=0%>
      <%eventDP=0%>
      <%eventCG=0%>
      <%eventIO=0%>
      <%eventSY=0%>
      <%eventRO=0%>
      <%eventTB=0%>        
      <%eventEDT=0%>   
      <%eventCash=0%>
      <%eventNets=0%>
      <% sales.forEach(function(sales) { %>
      <% if(sales.icID == broughtOut.ID) {%>
        <%eventLB += sales.LB%>
        <%eventMG += sales.MG%>
        <%eventDP += sales.DP%>
        <%eventCG += sales.CG%>
        <%eventIO += sales.IO%>
        <%eventSY += sales.SY%>
        <%eventRO += sales.RO%>
        <%eventTB += sales.TB%>
        <%eventEDT += sales.EDT%>    
        <%eventCash += sales.Cash%>
        <%eventNets += sales.Nets%>
      <% }; });%>
    <tr class="center aligned">
      <td>
        <form method = "post" class = "form" action = "/deleteSalesInv">
        <h4 class="ui right aligned header">
          <div class="content">
            Sold
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == broughtOut.ID) {%> 
            	<div class="sub header"><%=accounts.firstName%></div>
            <% }; });%>
            <div class="sub header">Location: <%=broughtOut.Location%></div>
            <div class="ui button popz" data-content="LB: <%=broughtOut.LB-eventLB%> MG: <%=broughtOut.MG-eventMG%> DP: <%=broughtOut.DP-eventDP%> CG: <%=broughtOut.CG-eventCG%> IO: <%=broughtOut.IO-eventIO%> SY: <%=broughtOut.SY-eventSY%> RO: <%=broughtOut.RO-eventRO%> TB: <%=broughtOut.TB-eventTB%> EDT: <%=broughtOut.EDT-eventEDT%>">LeftOver</div>
            <div class="ui button team">Team Info</div>
          </div>
        </h4>
      </td>
      
      <td> <%=eventLB%></td>
      <td> <%=eventMG%></td>
      <td> <%=eventDP%></td>
      <td> <%=eventCG%></td>
      <td> <%=eventIO%></td>
      <td> <%=eventSY%></td>
      <td> <%=eventRO%></td>
      <td> <%=eventTB%></td>
      <td> <%=eventEDT%></td>
      <td> <%=eventCash%></td>
      <td> <%=eventNets%></td>
      <td> <%=eventCash+eventNets%></td>
      <td><button class="ui tiny red submit button" name="deleteSales" value="<%=sales._id%>" type="submit">DELETE</button></td></form>
    </tr>
    <% sales.forEach(function(sales) { %>
    <tr class="p center aligned" style="display: none;">
      <% if(sales.icID == broughtOut.ID) {%>
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == sales.ID) {%> 
              <%=accounts.firstName%>
            <% }; });%>
          </div>
        </h4>
      </td>
      <td><%=sales.LB%></td>
      <td><%=sales.MG%></td>
      <td><%=sales.DP%></td>
      <td><%=sales.CG%></td>
      <td><%=sales.IO%></td>
      <td><%=sales.SY%></td>
      <td><%=sales.RO%></td>
      <td><%=sales.TB%></td>
      <td><%=sales.EDT%></td>
      <td><%=sales.Cash%></td>
      <td><%=sales.Nets%></td>
      <td><%=sales.Cash+sales.Nets%></td><td></td>
    </tr>
    <% }; });%>
    <% }); %>
    <tr class="center aligned">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Total Sold
            <div class="sub header"></div>
          </div>
        </h4>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalLB += sales.LB %>
        <% }); %>
        <%= finalLB%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalMG += sales.MG %>
        <% }); %>
        <%= finalMG%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalDP += sales.DP %>
        <% }); %>
        <%= finalDP%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalCG += sales.CG %>
        <% }); %>
        <%= finalCG%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalIO += sales.IO %>
        <% }); %>
        <%= finalIO%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalSY += sales.SY %>
        <% }); %>
        <%= finalSY%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalRO += sales.RO %>
        <% }); %>
        <%= finalRO%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalTB += sales.TB %>
        <% }); %>
        <%= finalTB%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalEDT += sales.EDT %>
        <% }); %>
        <%= finalEDT%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalCash += sales.Cash %>
        <% }); %>
        <%= finalCash%>
      </td>
      <td>
        <% sales.forEach(function(sales) { %>
          <% finalNets += sales.Nets %>
        <% }); %>
        <%= finalNets%>
      </td>
      <td></td><td></td>
    </tr>
    </tr>
    <tr class="center aligned negative">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            End Day Closing
          </div>
        </h4>
      </td>
      <form action="/addLeftStocks" method="post" class="ui mini">
      <td><div class="ui fluid input"><input type="text" name="LB" value="<%=leftStocks.LB-finalLB%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="MG" value="<%=leftStocks.MG-finalMG%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="DP" value="<%=leftStocks.DP-finalDP%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="CG" value="<%=leftStocks.CG-finalCG%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="IO" value="<%=leftStocks.IO-finalIO%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="SY" value="<%=leftStocks.SY-finalSY%>"></div></td>
      <td><div class="ui input"><input type="text" name="RO" value="<%=leftStocks.RO-finalRO%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="TB" value="<%=leftStocks.TB-finalTB%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="EDT" value="<%=leftStocks.EDT-finalEDT%>"></div></td>     
      <td>
        <div class="ui fluid input">
          <input type="text" name="Cash" value="<%=finalCash%>" placeholder="Amount"> 
        </div>
      </td>
      <td>
        <div class="ui fluid input">
          <input type="text" name="Nets" value="<%=finalNets%>" placeholder="Amount"> 
        </div>
      </td>
      <td><%=finalCash+finalNets%></td><td></td>
    </tr>
    
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <a href="/outStocks">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i>Add Out Stock
        </div>
        </a>
      </th>
      <th colspan="4">
        <a href="/updateInventory">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i>Add End Day
        </div>
        </a>
      </th>
      <th colspan="5"><button value="<%=date%>" name="date" class="ui right floated tiny red submit button" type="submit">Submit</button></th>
      </form>
    </tr>
  </tfoot>
  
</table>
</div>
</body>
</html>
