<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="/libs/semantic/validation.js"></script>
    <style> body { padding-top:5%; } </style>
    <script>
    $( document ).ready(function() {
        $('.popz')
          .popup({
          on    : 'click',
          inline   : true,
          position : 'top left'
        }),
        $('.team').click(function(){
          $('.p').toggle();
        });
    });
    </script>
</head>
<body>
	<div class="ui fixed borderless stackable menu">
    <div class="ui red container">
      <a href="/" class="header item"><img src="/images/absolute.png" alt="HTML5 Icon"></a>
      <a href="/profile" class="item">Profile</a>
      <a href="/showSales" class="item">Sales</a>
      <a href="/Inventory" class="item">Inventory</a>
      <a href="/updateInventory" class="item">Add End Day</a>
      <a href="/updateInfo" class="right aligned item">Update Account Information</a>
      <a href="/logout" class="right aligned item">Logout</a>
    </div>
  </div>
  <div class="ui centered grid">
  <table class="ui basic compact collapsed celled table">
  <thead class="full-width">
    <tr class="center aligned">
      <th>
          <form action="/inventory" method="get">
          <div class="ui mini right action compact input">         
          <input type="date" name="invDate" value="<%=date%>">
          <button class="ui tiny red icon button" type="submit"><i class="circular search link icon"></i></button>
          </div>
          </form>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            LB
            <div class="sub header">Laurelle Bag</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            MG
            <div class="sub header">Momentum Gold</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            DP
            <div class="sub header">Desire Purple</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            CG
            <div class="sub header">City Girl</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            IO
            <div class="sub header">If Only</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            SY
            <div class="sub header">Sports Yellow</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            RO
            <div class="sub header">Royal</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            TB
            <div class="sub header">Thomas Black</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            EDT
            <div class="sub header">Energize</div>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Cash Value<br>
            <i class="money icon"></i>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Nets Value<br>
            <i class="credit card icon"></i>
          </div>
          </h4>
      </th>
      <th><h4 class="ui header">
          <div class="content">
            Total Value<br>
            <i class="money icon"></i>
          </div>
          </h4>
      </th><th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="center aligned warning">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Opening Balance
          </div>
        </h4>
      </td>
      <td>
      	<%=leftStocks.LB%>
      </td>
      <td >
        <%=leftStocks.MG%>
      </td>
      <td>
        <%=leftStocks.DP%>
      </td>
      <td>
        <%=leftStocks.CG%>
      </td>
      <td>
        <%=leftStocks.IO%>
      </td>
      <td>
        <%=leftStocks.SY%>
      </td>
      <td>
        <%=leftStocks.RO%>
      </td>
      <td>
        <%=leftStocks.TB%>
      </td>
      <td>
        <%=leftStocks.EDT%>
      </td>
      
      <td></td><td></td><td></td><th></th>
    </tr>
    <% outStocks.forEach(function(outStocks) { %>
    <tr class="center aligned">
      <td>    
        <h4 class="ui right aligned header">
          <div class="content">
            Brought Out
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == outStocks.ID) {%> 
            	<div class="sub header"><%=accounts.firstName%></div>
            <% }; });%>
          </div>
        </h4>
      </td>
      <td> <%=outStocks.LB%></td>
      <td> <%=outStocks.MG%></td>
      <td> <%=outStocks.DP%></td>
      <td> <%=outStocks.CG%></td>
      <td> <%=outStocks.IO%></td>
      <td> <%=outStocks.SY%></td>
      <td> <%=outStocks.RO%></td>
      <td> <%=outStocks.TB%></td>
      <td> <%=outStocks.EDT%></td>
      <td></td><td></td>
      <td><form method = "post" class = "form" action = "/deleteStocks"><button class="ui tiny red submit button" name="deleteStocks" value="<%=outStocks._id%>" type="submit">DELETE</button></form>
      </td>  
      <td></td>
    </tr>
    <% }); %>
    <tr class="center aligned positive">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Closing
            <div class="sub header"><%=outStocks.ID%></div>
          </div>
        </h4>
      </td>
      <td> <%=closing.LB%></td>
      <td> <%=closing.MG%></td>
      <td> <%=closing.DP%></td>
      <td> <%=closing.CG%></td>
      <td> <%=closing.IO%></td>
      <td> <%=closing.SY%></td>
      <td> <%=closing.RO%></td>
      <td> <%=closing.TB%></td>
      <td> <%=closing.EDT%></td>  
      <td></td>
      <td></td><td></td><td></td>
    </tr>
    <% eventSold.forEach(function(eventSold) { %>
    <tr class="center aligned">
      <td>
        <form method = "post" class = "form" action = "/deleteSalesInv">
        <h4 class="ui right aligned header">
          <div class="content">
            Sold
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == eventSold.icID) {%> 
            	<div class="sub header"><%=accounts.firstName%></div>
            <% }; });%>
            <div class="sub header">Location: <%=eventSold.Location%></div>
            <div class="ui button team">Team Info</div>
          </div>
        </h4>
      </td>
      <td> <%=eventSold.LB%></td>
      <td> <%=eventSold.MG%></td>
      <td> <%=eventSold.DP%></td>
      <td> <%=eventSold.CG%></td>
      <td> <%=eventSold.IO%></td>
      <td> <%=eventSold.SY%></td>
      <td> <%=eventSold.RO%></td>
      <td> <%=eventSold.TB%></td>
      <td> <%=eventSold.EDT%></td>
      <td> <%=eventSold.Cash%></td>
      <td> <%=eventSold.Nets%></td>
      <td> <%=eventSold.Cash+eventSold.Nets%></td>
      <td><button class="ui tiny red submit button" name="deleteSales" value="<%=sales._id%>" type="submit">DELETE</button></td></form>
    </tr>
    <% sales.forEach(function(sales) { %>
    <tr class="p center aligned" style="display: none;">
      <% if(sales.icID == eventSold.icID) {%>
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            <% accounts.forEach(function(accounts){ %>
            <% if(accounts.ID == sales.ID) {%> 
              <%=accounts.firstName%>
            <% }; });%>
          </div>
        </h4>
      </td>
      <td><%=sales.LB%></td>
      <td><%=sales.MG%></td>
      <td><%=sales.DP%></td>
      <td><%=sales.CG%></td>
      <td><%=sales.IO%></td>
      <td><%=sales.SY%></td>
      <td><%=sales.RO%></td>
      <td><%=sales.TB%></td>
      <td><%=sales.EDT%></td>
      <td><%=sales.Cash%></td>
      <td><%=sales.Nets%></td>
      <td><%=sales.Cash+sales.Nets%></td><td></td>
    </tr>
    <% }; });%>
    <% }); %>
    <tr class="center aligned">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            Total Sold
            <div class="sub header"></div>
          </div>
        </h4>
      </td>
      <td><%=totalSold.LB%></td>
      <td><%=totalSold.MG%></td>
      <td><%=totalSold.DP%></td>
      <td><%=totalSold.CG%></td>
      <td><%=totalSold.IO%></td>
      <td><%=totalSold.SY%></td>
      <td><%=totalSold.RO%></td>
      <td><%=totalSold.TB%></td>
      <td><%=totalSold.EDT%></td>
      <td><%=totalSold.Cash%></td>
      <td><%=totalSold.Nets%></td>
      <td></td><td></td>
    </tr>
    </tr>
    <tr class="center aligned negative">
      <td>
        <h4 class="ui right aligned header">
          <div class="content">
            End Day Closing
          </div>
        </h4>
      </td>
      <form action="/inventory/addLeftStocks" method="post" class="ui mini">
      <td><div class="ui fluid input"><input type="text" name="LB" value="<%=endDayClose.LB%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="MG" value="<%=endDayClose.MG%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="DP" value="<%=endDayClose.DP%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="CG" value="<%=endDayClose.CG%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="IO" value="<%=endDayClose.IO%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="SY" value="<%=endDayClose.SY%>"></div></td>
      <td><div class="ui input"><input type="text" name="RO" value="<%=endDayClose.RO%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="TB" value="<%=endDayClose.TB%>"></div></td>
      <td><div class="ui fluid input"><input type="text" name="EDT" value="<%=endDayClose.EDT%>"></div></td>     
      <td>
        <div class="ui fluid input">
          <input type="text" name="Cash" value="<%=endDayClose.Cash%>" placeholder="Amount"> 
        </div>
      </td>
      <td>
        <div class="ui fluid input">
          <input type="text" name="Nets" value="<%=endDayClose.Nets%>" placeholder="Amount"> 
        </div>
      </td>
      <td><%=endDayClose.Cash+endDayClose.Nets%></td><td></td>
    </tr>
    
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <a href="/inventory/AddOutStocks">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i>Add Out Stock
        </div>
        </a>
      </th>
      <th colspan="4">
        <a href="/inventory/addEndDay">
        <div class="ui right floated small primary labeled icon button">
          <i class="user icon"></i>Add End Day
        </div>
        </a>
      </th>
      <th colspan="5"><button value="<%=date%>" name="date" class="ui right floated tiny red submit button" type="submit">Submit</button></th>
      </form>
    </tr>
  </tfoot>
  
</table>
</div>
</body>
</html>
